<table class="table-bordered">
    <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Contenido</th>
        <th>Fecha de la ultima modificacion</th>

    </tr>
    <tr>
        <td>@ViewBag.Nota.Id</td>
        <td>@ViewBag.Nota.Titulo</td>
        <td>@ViewBag.Nota.Contenido</td>
        <td>@ViewBag.Nota.UltimaModificacion</td>
    </tr>

</table>